@tailwind base;
@tailwind components;
@tailwind utilities;

.bgdark{
  background: rgb(16, 16, 16) !important;
}
.bglight{
  background: rgb(248, 242, 255) !important;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

 
.navigationdark {
  background: rgb(24, 24, 24) !important;
  border-right: 0.4px   solid rgb(40, 39, 39) !important;
  border-top: 0.4px   solid rgb(40, 39, 39) !important;
  border-bottom: 0.4px   solid rgb(40, 39, 39) !important;
}
.navigationlight {
  background: hwb(272 43% 3%) !important;
  border-right: 0.4px   solid rgb(40, 39, 39) !important;
  border-top: 0.4px   solid rgb(40, 39, 39) !important;
  border-bottom: 0.4px   solid rgb(40, 39, 39) !important;
}